body {
  width: 100vw;
}

* {
  margin: 0;
}
#main-container {
  padding: 2rem 0 4rem;
}
#footer {
  height: 2rem;
  background-color: gray;
  width: 100vw;
  position: fixed;
  /* margin-top: 40px; */
  bottom: 0;
}
